:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.2rem;
  box-sizing: border-box;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* theme */
  --bg-color: #ffffff;
  --fg-color: #241f31;
  --bg-btn: #ececec;
  --bg-primary: #3584e4;
  --bg-success: #26a269;
  --bg-error: #ed333b;

  /* functional */
  --border-radius: 0.8rem;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1a1a1a;
    --fg-color: #f0f0f0;
    --bg-btn: #333333;
  }
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--bg-color);
}

main {
  max-width: 1000px;
  min-width: 500px;
  min-height: 403px;
  padding: 2rem 1rem;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.brand {
  display: flex;
  justify-content: start;
  align-items: center;
}

.brand img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.brand .brand-name {
  font-size: 1rem;
  font-weight: bold;
  color: var(--fg-color);
  margin: 0;
}

.video-container {
  --min-width: 400px;

  position: relative;
  width: 100%;
  min-width: var(--min-width);
  padding-bottom: 30.25%;
  height: 0;
  overflow: hidden;

  background-color: black;
  border-radius: var(--border-radius);
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.devices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.device .device-indicator,
.action-btn {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  background-color: var(--bg-btn);
  border-radius: var(--border-radius);
  border-color: transparent;
}

.device-indicator .indicator {
  position: absolute;
  bottom: 0;
  right: -0.35rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: var(--bg-success);
  border-radius: 50%;
}

.device-indicator .indicator.inactive {
  background-color: var(--bg-error);
}

.device-indicator svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--fg-color);
}

.device-selector label,
.device-selector select {
  font-size: small;
  display: block;
  width: 100%;
  min-width: 150px;
}

.device-selector label.disabled {
  opacity: 0.5;
}

.device-selector select {
  border-color: var(--bg-btn);
  background-color: var(--bg-color);
  padding: 0.2rem;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  min-width: 100px;
}

.action-btn {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--bg-primary);
  transition: opacity 0.2s ease-in-out;
}

.action-btn:hover {
  opacity: 0.8;
}

.action-btn.record {
  background-color: var(--bg-error);
}

.action-btn:disabled {
  background-color: var(--bg-btn);
}

.action-btn.record svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

/* responsive */
@media (max-width: 768px) {
  .main-content,
  .device {
    flex-direction: column;
  }

  .actions {
    flex-direction: row;
    justify-content: center;
  }

  .devices {
    flex-direction: row;
  }

  .device {
    align-items: center;
  }
}
